---
import { Icon } from 'astro-icon/components'

import Link from '@/components/Link.astro'
import { ROUTES } from '@/config/routes'
import type { PostData } from '@/lib/types'
import { cn } from '@/lib/utils/cn'
import { formatDateHuman, formatDateMachine } from '@/lib/utils/date'
import { getTagsWithSlugs } from '@/lib/utils/posts'

type Props = PostData & {
  className?: string
}

const { title, date, tags, className } = Astro.props

const tagsWithSlugs = getTagsWithSlugs(tags)
---

<div class={className}>
  <div class="flex flex-col gap-y-3">
    <Link href={ROUTES.blog._} class="inline-flex items-center gap-1 self-start"
      ><Icon name="lucide:arrow-left" class="size-3.5" />Blog</Link
    >
    <time
      class="text-base-content/75 inline-block font-serif"
      datetime={formatDateMachine(date)}
    >
      {formatDateHuman(date)}
    </time>
    <h1
      class:list={[
        'text-primary font-serif text-4xl leading-tight text-balance',
        'lg:text-5xl',
      ]}
    >
      {title}
    </h1>
  </div>
  {
    !!tagsWithSlugs && (
      <ul class={cn('mt-5 flex flex-wrap gap-3', 'md:gap-x-5')}>
        {tagsWithSlugs.map((tag) => (
          <li>
            <a
              href={ROUTES.blog.tag(tag.slug)}
              class={cn(
                'badge badge-accent dark:badge-soft badge-sm inline-flex cursor-pointer items-center rounded-full transition-colors duration-200 ease-out',
                'md:badge-md',
                'hover:bg-neutral/75',
                'link-outline',
              )}
            >
              {tag.label}
            </a>
          </li>
        ))}
      </ul>
    )
  }
  <div class="divider"></div>
</div>
