---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import { cn } from '@/lib/utils/cn'
import { formatDateHuman, formatDateMachine } from '@/lib/utils/date'

const IMAGE_CONFIG = {
  width: 304,
  densities: [1.5],
}

type Props = {
  title: string
  description: string
  targetUrl: string
  date: Date
  thumbnail: ImageMetadata
  tags?: string[]
}

const { title, description, targetUrl, date, thumbnail, tags } = Astro.props

const hasTags = !!tags && tags.length > 0
---

<a
  href={targetUrl}
  class={cn(
    'border-base-content/20 group overflow-hidden rounded-xl border transition-colors duration-200 ease-out',
    'hover:border-base-content/40',
    'focus-visible:outline-primary focus-visible:outline-2 focus-visible:outline-offset-2',
  )}
>
  <article class="flex h-full flex-col">
    <div class="relative aspect-[3/2] overflow-hidden">
      <Image
        src={thumbnail}
        alt={title}
        class={cn(
          'size-full object-cover transition-transform duration-300 ease-out',
          'motion-safe:group-hover:scale-105 motion-safe:group-focus-visible:scale-105',
        )}
        {...IMAGE_CONFIG}
      />
    </div>
    <div class="flex grow flex-col p-4">
      <div class="mb-3 flex items-center justify-between">
        <time class="text-base-content/75 text-xs" datetime={formatDateMachine(date)}
          >{formatDateHuman(date)}</time
        >
        {
          hasTags && (
            <div class="flex flex-wrap gap-1">
              {tags.map((tag) => (
                <span class="badge badge-neutral badge-xs">{tag}</span>
              ))}
            </div>
          )
        }
      </div>
      <h3 class="mb-3 line-clamp-2 text-lg font-bold">{title}</h3>
      <p class="text-base-content/75 mb-3 line-clamp-3">{description}</p>
      <span class="mt-auto inline-flex items-center gap-1"
        >Read more<Icon
          name="lucide:arrow-right"
          class="size-4 transition-transform duration-200 ease-out motion-safe:group-hover:translate-x-1 motion-safe:group-focus-visible:translate-x-1"
        /></span
      >
    </div>
  </article>
</a>
