---
import type { ReadingTime } from '@/lib/types'
import { formatDateHuman, formatDateMachine } from '@/lib/utils/date'

type Props = {
  readingTime: ReadingTime
  createdAt: Date
  updatedAt?: Date
}

const { createdAt, updatedAt, readingTime } = Astro.props
---

<span class="text-base-content/75 inline-block font-serif">
  <time datetime={formatDateMachine(createdAt)}>{formatDateHuman(createdAt)}</time>
  {
    updatedAt && (
      <span>
        {' '}
        (updated{' '}
        <time datetime={formatDateMachine(updatedAt)}>{formatDateHuman(updatedAt)}</time>)
      </span>
    )
  }
  {readingTime.minutes > 0 && <span class="whitespace-nowrap">● {readingTime.text}</span>}
</span>
