---
import { Icon } from 'astro-icon/components'

import Link from '@/components/ui/Link.astro'
import { ROUTES } from '@/config/routes'
import type { ProjectData, ReadingTime } from '@/lib/types'
import { getTechnologiesByProject } from '@/lib/utils/projects'

import ContentMetadata from './ContentMetadata.astro'
import ProjectHeaderDetails from './ProjectHeaderDetails.astro'

type Props = ProjectData & {
  readingTime: ReadingTime
  className?: string
}

const { title, date, demoUrl, githubUrl, className, readingTime } = Astro.props

const technologies = getTechnologiesByProject(Astro.props)
const details = { demoUrl, githubUrl, technologies }
---

<div class={className}>
  <div class="flex flex-col gap-y-3">
    <Link href={ROUTES.projects._} class="inline-flex items-center gap-1 self-start"
      ><Icon name="lucide:arrow-left" class="size-3.5" />Projects</Link
    >
    <ContentMetadata date={date} readingTime={readingTime} />

    <h1
      class:list={[
        'text-primary font-serif text-4xl leading-tight text-balance',
        'lg:text-5xl',
      ]}
    >
      {title}
    </h1>
  </div>
  <ProjectHeaderDetails {...details} className="mt-5" />
  <div class="divider"></div>
</div>
