---
import { Icon } from 'astro-icon/components'

import Link from '@/components/Link.astro'
import { ROUTES } from '@/config/routes'
import { cn } from '@/lib/utils/cn'

const sectionId = 'hero'
---

<section
  aria-labelledby={sectionId}
  class="grid h-[calc(100svh-var(--header-h))] items-center"
>
  <div class="@container -mt-(--header-h)">
    <p class={cn('text-primary mb-3 text-lg')}>
      Hi
      <span class="animate-wave inline-block origin-bottom">👋</span>, my name is
    </p>
    <h1
      id={sectionId}
      class={cn(
        'block text-4xl leading-[140%] font-bold',
        '@xl:text-5xl',
        '@2xl:text-6xl',
      )}
    >
      Marek Honzal
    </h1>
    <h2
      class={cn(
        'text-base-content/60 text-2xl leading-[140%] font-bold tracking-wide',
        '@md:text-3xl',
        '@xl:text-4xl',
      )}
    >
      I build scalable frontends
    </h2>
    <p
      class={cn(
        'text-base-content/75 mt-6 leading-loose',
        '@lg:text-base',
        '@2xl:text-lg',
      )}
    >
      I focus on architecture, state, and the parts of frontend you don't see.
    </p>
    <p class={cn('text-base-content/75 leading-loose', '@lg:text-base', '@2xl:text-lg')}>
      At <Link hasIcon={false} href="https://applifting.io">Applifting</Link>, I help
      build solid systems and grow the people behind them.
    </p>
    <div
      class={cn(
        'mt-12 flex flex-col items-start gap-6',
        '@xl:mt-12 @xl:flex-row @xl:items-center @xl:gap-10',
      )}
    >
      <a href={ROUTES.blog._} class={cn('btn btn-primary group', '@xl:btn-lg')}
        >Read the Blog <Icon
          name="lucide:arrow-right"
          class={cn(
            'size-[1.25em] transition-transform duration-200 ease-out',
            'group-hover:translate-x-1',
            'group-focus-visible:translate-x-1',
          )}
        />
      </a>
      <a href={ROUTES.projects._} class={cn('btn btn-neutral', '@xl:btn-lg')}
        >See What I'm Building</a
      >
    </div>
  </div>
</section>
