---
import { getCollection } from 'astro:content'

import ArticleGrid from '@/components/Content/ArticleGrid.astro'
import { ROUTES } from '@/config/routes'
import { cn } from '@/lib/utils/cn'
import { getFeaturedSectionContent, shouldIncludeItem } from '@/lib/utils/content'

type Props = {
  className?: string
}

const { className } = Astro.props

const sectionId = 'blog'

const blogPosts = await getCollection('blog', shouldIncludeItem)

const featuredPosts = getFeaturedSectionContent(blogPosts)
---

<section aria-labelledby={sectionId} class={className}>
  <h2
    id={sectionId}
    class={cn('mb-3 text-3xl leading-[140%] font-semibold', 'md:text-4xl')}
  >
    Latest Thoughts
  </h2>
  <p class="mb-5 text-lg">
    A mix of learnings, ideas, and reflections from both dev life and beyond.
  </p>
  <ArticleGrid posts={featuredPosts} className="mb-8" />
  <a class="btn btn-lg btn-primary" href={ROUTES.blog._}>Read all posts</a>
</section>
