---
import Analytics from '@/components/Meta/Analytics.astro'
import AppVersion from '@/components/Meta/AppVersion.astro'
import CanonicalLink from '@/components/Meta/CanonicalLink.astro'
import ColorScheme from '@/components/Meta/ColorScheme.astro'
import DisallowRobots from '@/components/Meta/DisallowRobots.astro'
import Favicon from '@/components/Meta/Favicon.astro'
import InlineStyles from '@/components/Meta/InlineStyles.astro'
import Meta from '@/components/Meta/Meta.astro'
import OpenGraph from '@/components/Meta/OpenGraph.astro'
import PreloadFonts from '@/components/Meta/PreloadFonts.astro'
import Rss from '@/components/Meta/Rss.astro'
import CommonSchemaOrg from '@/components/Meta/SchemaOrg/Common.astro'
import Sitemap from '@/components/Meta/Sitemap.astro'
import { ENV } from '@/config/env'

type Props = {
  title: string
  description: string
  ogImagePath: string
}

const { title, description, ogImagePath } = Astro.props
---

<title>{title}</title>
<Meta description={description} />
{!ENV.IS_PRODUCTION && <DisallowRobots />}
<ColorScheme />
<Favicon />
<CanonicalLink />
{ENV.IS_PRODUCTION && <Rss />}
{!ENV.IS_LOCAL && <Analytics />}
{ENV.IS_PRODUCTION && <Sitemap />}
<PreloadFonts type="sans" />
<OpenGraph title={title} description={description} imagePath={ogImagePath} />
<CommonSchemaOrg />
<AppVersion />
<InlineStyles />
<slot />
